.navbar{
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    box-shadow: 5px;
}

.div_logo{
    padding: 0 0 0 30px ;
}

.div_menu{
    padding-right: 50px;
}

.div_menu a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    transition: .5s;
}

.div_menu a:hover{
    background-color: #b3b0b0;
    border-radius: 10px;
    padding: 10px;
}

img{
    width: 80px;

}
